{
  admin off
  log default {
    format filter {
      request>uri replace [REDACTED]
      request>headers>Authorization delete
      request>headers>Cookie delete
    }
  }
}

{$WEBHOOK_DOMAIN} {
  @crisp_webhook path /webhook/crisp-webhook /webhook/crispai-public-config /webhook/crispai-web-chat
  handle @crisp_webhook {
    reverse_proxy n8n:5678
  }
  handle {
    respond 404
  }
}
